.TodoList {
    font-weight: 300;
    color: #4d4d4d;
    border-bottom: 1px solid #EEE;
    display: flex;
}

.TodoList:last-child{
    border-bottom: none;
}

.TodoList > p, img{
    margin: 0;
    padding: 10px 5px;
    align-items: center;
}

.TodoList-complete > p {
    text-decoration: line-through;
    opacity: 0.3;
}